"Silver-tier/.env" 
"Silver-tier/mcp/.env" 
"Silver-tier/AI_Employee_Vault/scripts/credentials.json" 
"Silver-tier/AI_Employee_Vault/scripts/token.json" 
"Silver-tier/AI_Employee_Vault/scripts/*.json" 
"Bronze-tier/AI_Employee_Vault/scripts/credentias.json"  
"Silver-tier/AI_Employee_Vault/scripts/credentias.json" 
